.login
{
   margin: auto;
   box-sizing: border-box;
   display: block;
   max-width: 350px;
   padding: 2em;
   background-color: white;
   border-radius: 3px;
}

.login-form-body
{
   margin: 2em 0;
}

.login-footer
{
   margin-top: 2em;
}