.article
{
   margin-top: 2em;
}

.article:first-child
{
   margin: 0;
}

.article-cover
{
   width: 100%;
   height: 200px;
}

.article-content
{
   padding: 2em;
   box-sizing: border-box;
}

.article-tags-container
{
   display: table;
}

.article-tag
{
   display: inline-block;
   margin-right: 1em;
}

.article-tag a
{
   color: #bdbdbd;
}

.article-title h4
{
   margin: 14px 0 0 0;
   color: #212121;
}

.article-body
{
   margin-top: 1em;
}

.article-body-readmore
{
   margin-top: 1em;
   text-align: right;
}

.article-body-readmore a
{
   color: #212121;
   font-weight: bold;
}

.article-footer
{
   display: table;
   border-collapse: separate;
   border-spacing: 10px;
   margin: 2em auto 0 auto;
   padding: 1em 4em 0 4em;
   border-top: 1px solid #eeeeee;
   text-align: center;
}

.social-icon
{
   display: table-cell;
   width: 20px;
}

.social-icon img
{
   width: 100%;
}