.homepage-body
{
   padding: 2em 0;
}

.aside-container
{
   vertical-align: top;
   box-sizing: border-box;
   width: 300px;
}

.article-container
{
   box-sizing: border-box;
   padding: 0 2em;
   width: auto;
}