.main-header
{
   width: 100%;
   box-sizing: border-box;
}

.main-header-title
{
   box-sizing: border-box;
   padding: 2em;
   text-align: center;
}

.main-header-title .row
{
   margin: 0 !important;
}

.main-header-title h1
{
   margin: 0;
   font-size: 40px;
   font-weight: normal;
   user-select: none;
}

.main-header-nav
{
   text-align: center;
   border-top: 1px solid #424242;
   display: inline-block;
   padding: 0 2em;
}

.main-header-nav nav
{
   display: inline-block;
   width: auto !important;
   margin: auto;
}